:root {
  --blue-light-color: #323d47;
  --blue-dark-color:#1f262d;
  --gray-color: #e3e3e3;
  --full-light-color: #fff;
  --fluor-pink: #fb08c6;
  --flour-violet: #3633ff;

  --main-font: 'Sora', sans-serif;
  
  --radius: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

*::selection {
  background: var(--blue-light-color);
  color: var(--fluor-pink);
}

body, html {
  font-family: var(--main-font);
  background: var(--blue-light-color);
  margin: 0;
  padding: 0;
}

.btn {
  padding: 7px;
  margin: 10px 0;
}

.normalize--btn {
  border: none !important;
  outline: none !important;
}

.cursor--pointer {
  cursor: pointer;
}

.txt--center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2b2c2e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #585b5f;
}


@media screen and (max-width: 1279px) {
  .header__title,
  .title-result  {
    font-size: 3.5vw !important;
  }
}

@media screen and (max-width: 768px) {
  .header__title,
  .title-result  {
    font-size: 5vw !important;
  }

  .home_search_image {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .header__title,
  .title-result  {
    font-size: 7vw !important;
  }

  .home_search_image {
    width: 90%;
  }
}