.container_movies {
  max-width: 1000px;
  margin: 40px auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-not-result,
.title-result__good {
  color: var(--gray-color);
}

.title-result__good {
  flex-basis: 100%;
  margin-left: 5%;
  margin-bottom: 25px;
}

.title-not-result {
  font-size: clamp(1.2rem, 4vw, 2rem);
  margin: 10px;
}

.title-not-result strong {
  font-weight: bolder;
  color: var(--fluor-pink);
}